<h3>含 <%= item.name %> 之股票（共 <%= stocks.size %> 個）</h3>
<table>
  <tbody>
    <tr>
      <th>股號</th>
      <th>名稱</th>
      <th>類別</th>
    </tr>
  <% stocks.each do |stock| %>
    <tr>
      <td class='center'><%= stock.ticker %></td>
      <td class='center'><%= stock.name %></td>
      <td class='center'><%= stock.category %></td>
    </tr>
  <% end %>
  </tbody>
</table>
