<h3>
  <%= link_to 'Home', root_path %>
  <% @item.ancestors.each_with_index do |ancestor, i| %>
    > <%= link_to ancestor.name, item_path(ancestor) %>
  <% end %>
  > <%= @item.name %>
</h3>

<table>
  <tbody>
    <tr>
      <th>股票數</th>
      <th>財報數</th>
      <th>子項數</th>
      <th>子孫項數</th>
      <th>名稱</th>
    </tr>
  <% @item.children.each do |item| %>
    <tr>
      <td class='center'><%= @item_mappings[item.id.to_s][:stocks_count] %></td>
      <td class='center'><%= @item_mappings[item.id.to_s][:statements_count] %></td>
      <td class='center'><%= item.children_count %></td>
      <td class='center'><%= item.descendants.count %></td>
      <td><%= link_to item.name, item_path(item) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />
<hr />

<%= render partial: 'items/included_stocks', locals: { item: @item, stocks: @stocks } %>
