<h3>
  <%= link_to 'Home', root_path %>
  <% @item.ancestors.each_with_index do |ancestor, i| %>
    > <%= link_to ancestor.name, item_path(ancestor, only: params[:only]), exclude: params[:exclude] %>
  <% end %>
  > <%= @item.name %><%= render_category(params[:only], params[:exclude]) %>
</h3>

<table>
  <tbody>
    <tr>
      <th>股票數</th>
      <th>財報數</th>
      <th>子項數</th>
      <th>子孫項數</th>
      <th>名稱</th>
    </tr>
  <% @children_items.each do |item| %>
    <% cache("#{item.id}-#{item.updated_at}-#{params[:only]}-#{params[:exclude]}") do %>
    <tr>
      <td class='center'><%= render_stocks_count_by_category(item, params[:only], params[:exclude]) %></td>
      <td class='center'><%= render_statements_count_by_category(item, params[:only], params[:exclude]) %></td>
      <td class='center'><%= render_children_count_by_category(item, params[:only], params[:exclude]) %></td>
      <td class='center'><%= render_descendants_count_by_category(item, params[:only], params[:exclude]) %></td>
      <td><%= link_to item.name, item_path(item, only: params[:only], exclude: params[:exclude]) %></td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br />
<hr />

<%= render partial: 'items/included_categories', locals: { item: @item, stocks: @stocks } %>

<hr />

<%= render partial: 'items/included_stocks', locals: { item: @item, stocks: @stocks } %>
